<div>
    <form [formGroup]="_customerForm">

        <label for="first-name">First Name: </label>
        <input id="first-name" type="text" formControlName="firstName">
      
        <label for="last-name">Last Name: </label>
        <input id="last-name" type="text" formControlName="lastName">

        
        <label for="last-name">Phone Number: </label>
        <input id="last-name" type="text" formControlName="phone">
      
        <button mat-button type (click)="save()">Save</button>
    </form>
</div>