<div class="form-container">
    <form [formGroup]="_customerForm">
        <h3>Register Customer</h3>

        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput formControlName="phone" required>
        </mat-form-field>
      
        <button mat-raised-button color="primary" (click)="save()">Save</button>
    </form>
</div>