<div class="form-container">
    <form [formGroup]="_form">
        <h3>Store Box</h3>
        <h6>Customer: {{_customerId}}</h6>

        <mat-form-field>
            <mat-label>Label</mat-label>
            <input matInput formControlName="label" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Box Type</mat-label>
            <select matNativeControl required formControlName="boxTypeId">              
                <option *ngFor="let e of _boxTypes" [value]="e.id">
                    {{e.name}}
                </option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Storage Facility</mat-label>
            <select matNativeControl required formControlName="storageFacilityId">              
                <option *ngFor="let e of _storage" [value]="e.id">
                    {{e.name}}
                </option>
            </select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Storage Area</mat-label>
            <select matNativeControl required formControlName="storageAreaId">              
                <option *ngFor="let e of _storageAreas" [value]="e.id">
                    {{e.name}}
                </option>
            </select>
        </mat-form-field>
      
        <button mat-raised-button color="primary" (click)="storeBox()">Save</button>
    </form>
</div>